pre {
  background: rgba(0, 0, 0, 0.5);
  color: rgb(240, 240, 240);
  padding: 10px 15px;
  margin: 5px 2px;
  font-size: 15px;
  border-radius: 7px;
}
#shape-menu {
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}
.menu-row {
  margin: 15px 20px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 35%;
  background: rgb(200, 200, 200);
  cursor: pointer;
  appearance: none;
  transition: box-shadow 0.3s;
}

input[type="checkbox"]:checked {
  box-shadow: inset 0 0 0 10px #6496ff;
}

label {
  color: rgb(240, 240, 240);
  position: relative;
}
